@import url("../../styles/colors.css");

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  background-color: rgba(0 0 0 /0.5);
  display: none;
  transition: opacity 0.4s ease-in-out;
}

.gradient-active {
  display: block;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 70%;
  height: 100%;
  padding: 1.5rem;
  background-color: var(--White);
  box-shadow: 2px 4px 14px -6px rgba(0, 0, 0, 0.75);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.menu-active {
  transform: translateX(0%);
}
.menu_icon-close {
  width: 21px;
  height: 21px;
}

.menu_list {
  display: grid;
  gap: 1.2rem;
}

.menu_item:first-child {
  padding-bottom: 2rem;
}

.menu_link {
  font-weight: 700;
}

@media (min-width: 610px) {
  .menu_icon-close {
    width: 25px;
    height: 25px;
  }
  .menu_list {
    gap: 1.5rem;
  }
  .menu_link {
    font-size: 1.4rem;
  }
}
